.container {
  margin: 0 auto 0 auto;
  max-width: 80vw;
}

.newscontainer {
    margin-top: 3rem;
  }
  
  
  .newsarea {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 5rem;
    gap: 2em;
  }
  
  .newsstories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
    column-gap: 1.5em;
    row-gap: 2.5em;
    padding-right: 2rem;
    border-right: 0.1px solid gray;
  }

  .sidestories {
    display: grid;
    row-gap: 1.5em;
    padding-left: 2rem;
  }

  
  @media (max-width: 1048px) {
    .newsarea {
      grid-template-columns: 1fr;
      gap: 3.5em;
    }
    .newsstories {
      border: none;
      padding-right: 0;
    }
    .sidestories {
      padding-left: 0;
      padding-top: 2rem;
      border-top: 0.1px solid gray;
    }

  }