.sidenavopen {
    height: 100dvh;
    width: 35vw;
    background-color: #d9d9d9;
    display: grid;
    place-content: center;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: inset -2px 0px 6px -4px rgba(0,0,0, .45);
    z-index: 1;
}

.sidenavclosed {
    height: 100dvh;
    width: 10vw;
    background-color: #d9d9d9;
    display: grid;
    place-content: center;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 1px 0px 4px 1px rgba(0,0,0, .45);
    z-index: 1;
}

.sidenavclosed .sidenavgrid {
    display: none
}

.sidenavbuttonopen {
    position: relative;
    bottom: 49dvh;
    left: 3vw;
    opacity: 70%;
}

.sidenavbuttonclose {
    position: relative;
    bottom: 44dvh;
    left: 19vw;
    opacity: 70%;
}

.sidenavgrid {
    display: grid;
    gap: 10px;
    font-size: 2em;
    letter-spacing: 0%;
    text-wrap: nowrap;
}

.sidenavgrid div {
    border-top: 1px solid #0000003d;
}

.sidenavgrid:last-child {
    border-bottom: 1px  solid #0000003d;
}

.sidenavgrid div:hover {
    background-color:#171717; 
    color: #ffffffe3;;
}

/* @media (max-width: 500px) {
    .sidenavbuttonopen {
        bottom: 498vh;
        left: 2px;
    }
    
    .sidenavbuttonclose {
        bottom: 43rem;
        left: 5rem;
    }

  } */
@media (max-width: 600px) {
    .sidenavgrid {
        font-size: 1em;
    }
  }