.news {
    background-color: #fffffff3;
    width: 13rem;
    height: auto;
    border-radius: 4px;
    padding: 2px;
    display: flex;
    gap: 4px;
    box-shadow: 1px 0px 8px 1px rgba(0, 0, 0, .60);
}

.newsimage {
    background-color: black;
    width: 5rem;
    height: 5rem;
}

.newsdetails {
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-size: 12px;
    margin-top: 5px;
    font-weight: 500;
    letter-spacing: -0.2px;
    line-height: 1.2;
}
