.sidenavopen {
    height: 100dvh;
    width: 35vw;
    box-shadow: inset -2px 0px 6px -4px rgba(0,0,0, .45);
}

.sidenavclosed {
    height: 100dvh;
    width: 10vw;
    box-shadow: 1px 0px 4px 1px rgba(0,0,0, .45);
}

.sidenav {
    position: absolute;
    left: 0;
    top: 0;
    display: grid;
    place-content: center;
    background-color: #d9d9d9;
    z-index: 1;
    transition: all 2s linear 0;
}

.sidenavclosed .sidenavgrid {
    display: none
}

/* .sidenavbutton {
    transition: all 2s linear 1s;
} */

.sidenavclosed .sidenavbutton {
    position: relative;
    bottom: 44vh;
    left: 3vw;
    opacity: 70%;
}
.sidenavopen .sidenavbutton {
    position: relative;
    bottom: 28vh;
    left: 22vw;
    opacity: 70%;
}

.sidenavgrid {
    display: grid;
    gap: 10px;
    font-size: 2em;
    letter-spacing: 0%;
    text-wrap: nowrap;
}

.sidenavgrid div {
    border-top: 1px solid #0000003d;
}

.sidenavgrid:last-child {
    border-bottom: 1px  solid #0000003d;
}

.sidenavgrid div:hover {
    background-color:#171717; 
    color: #ffffffe3;;
}

 @media (min-width:3500px){
    

  } 

@media (max-width: 600px) {
    .sidenavgrid {
        font-size: 1em;
    }
  }