.image{
    width: 30rem;
    height: 15rem;
    border-radius: 2px;
    opacity: 90%;
}

.container {
    margin: 2rem auto 0 auto;
    max-width: 80vw;
}

.newsarea {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1.5em;
}

.newsdetails {
    margin-block: 2em;
}

.newscontent {
    line-height: 1;
}

.sidestory {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.5em;
}

@media (max-width: 850px) {
    .newsarea {
        grid-template-columns: 1fr;
    }
}

